@page
@model MCG_PROJECT.Pages.Utenti.IndexModel
@{
}

<div class="container">
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>CodiceFiscale</th>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>DataNascita</th>
                    <th>LuogoNascita</th>
                    <th>Indirizzo</th>
                    <th>CAP</th>
                    <th>Citta</th>
                    <th>Provincia</th>
                    <th>Nazione</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Stato</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.utentis)
                {
                    <tr>
                        <td>@item.CodiceFiscale</td>
                        <td>@item.Cognome</td>
                        <td>@item.Nome</td>
                        <td>@item.DataNascita</td>
                        <td>@item.LuogoNascita</td>
                        <td>@item.Indirizzo</td>
                        <td>@item.CAP</td>
                        <td>@item.Citta</td>
                        <td>@item.Provincia</td>
                        <td>@item.Nazione</td>
                        <td>@item.email</td>
                        <td>@item.psw</td>
                        <td>@item.Stato</td>
                        <td><a href="/Utenti/Delete?CodiceFiscale=@item.CodiceFiscale" class="nav-link text-dark float-end">Delete</a></td>
                        <td><a href="/Utenti/Update?CodiceFiscale=@item.CodiceFiscale" class="nav-link text-dark float-end">Edit</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="13">
                        <a class="nav-link text-dark float-end" asp-area="" asp-page="#">Gestione Documenti</a>
                        
                        <a class="btn btn-primary float-end" asp-area="" asp-page="/Utenti/Insert">+</a>
                        
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

